<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankit_pc.bakingappudacity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeStepListActivity"
           android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RecipeStepDetailActivity"
            android:label="@string/title_recipe_step_detail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".RecipeStepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecipeStepListActivity" />
        </activity>
        <activity
            android:name=".FullscreenPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RecipeStepDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecipeStepDetailActivity" />
        </activity>
        <activity
            android:name=".IngredientsList"
            android:label="@string/title_ingredients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IngredientsList" />
        </activity>

        <receiver android:name=".RecipeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>

        <service
            android:name=".RecipeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".RecipeIntentService" />

        <activity android:name=".Widget_Config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>